<div
  class="border border-gray-darker rounded-lg flex gap-4 py-2 px-4 focus-within:border-sky-500 focus-within:ring-2 focus-within:ring-sky-500 grow"
>
  <span class="flex items-center">
    <svg
      class="size-5"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      width="24"
      height="24"
    >
      <circle
        fill="none"
        stroke="currentColor"
        stroke-miterlimit="10"
        cx="9.14"
        cy="9.14"
        r="7.64"
      ></circle>
      <line
        fill="none"
        stroke="currentColor"
        stroke-miterlimit="10"
        x1="22.5"
        y1="22.5"
        x2="14.39"
        y2="14.39"
      ></line>
    </svg>
  </span>
  <input
    type="search"
    placeholder="{{ placeholder }}"
    [value]="search"
    (input)="handleInput($event)"
    class="grow p-0 outline-none border-transparent focus:border-transparent focus:ring-transparent placeholder:text-gray-darker"
  />
  <button
    type="button"
    class="flex items-center hover:scale-[1.2] transition duration-300"
    (click)="clearSearch()"
    title="Effacer la recherche"
  >
    <svg class="size-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </button>
</div>
