@if (products$ | async; as productsList) {
  @if (productsList.length > 0) {
    <h2>
      Panier
      @if (productsCount$ | async; as productsCount) {
        <span class="text-sm text-gray-darker">
          ({{ productsCount }}
          {{ productsCount === 1 ? "produit" : "produits" }})
        </span>
      }
    </h2>
    <ul class="space-y-4 my-10">
      @for (product of productsList; track product.id) {
        <li class="flex justify-between items-center border-b pb-4">
          <div class="flex-1 space-y-1">
            <h3 class="text-lg font-semibold">{{ product.title }}</h3>
            <p class="text-gray-500">
              {{ product.priceCents / 100 | currency: "EUR" }}
            </p>
          </div>
          <div class="flex items-center gap-2">
            <button
              type="button"
              class="w-8 text-lg font-semibold px-2 py-1 bg-gray-200 rounded hover:bg-gray-300"
              (click)="removeProduct(product)"
            >
              -
            </button>
            <input
              type="number"
              class="w-16 p-1 border rounded text-center"
              [value]="product.quantity"
              min="0"
              step="1"
              (change)="updateQuantity(product, $event)"
            />
            <button
              type="button"
              class="w-8 text-lg font-semibold px-2 py-1 bg-gray-200 rounded hover:bg-gray-300"
              (click)="addProduct(product)"
            >
              +
            </button>
          </div>
        </li>
      }
    </ul>
    @if (totalPriceCents$ | async; as totalPriceCents) {
      <div class="my-6 text-right text-xl font-semibold">
        Total : {{ totalPriceCents / 100 | currency: "EUR" }}
      </div>
    }
  } @else {
    <app-cart-empty></app-cart-empty>
  }
} @else {
  <app-cart-empty></app-cart-empty>
}
