<form
  class="flex flex-col sm:flex-row justify-between gap-4"
  (submit)="onSubmit($event)"
>
  <app-input-search
    placeholder="Rechercher..."
    (changeSearch)="handleSearch($event)"
    [search]="queryParams$.value.search"
    class="grow"
  ></app-input-search>

  <app-select-category
    (selectCategory)="handleCategory($event)"
    [categoryId]="queryParams$.value.categoryId"
  ></app-select-category>
</form>

@if (products$ | async; as productsList) {
  @if (isLoading) {
    <app-product-list-skeleton></app-product-list-skeleton>
  } @else {
    <app-product-list [products]="productsList"></app-product-list>
  }
} @else {
  <app-product-list-skeleton></app-product-list-skeleton>
}
