<section class="my-6">
  <div class="text-center">
    <h2>Inscription</h2>
    <p class="text-sm mt-2">Vous avez déjà un compte ?</p>
    <a routerLink="/sign-in" class="text-sm text-primary"> Connexion </a>
  </div>

  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="input-container input-container-row">
      <div>
        <label appLabel for="firstName">Prénom</label>
        <input
          appInput
          type="text"
          formControlName="firstName"
          id="firstName"
          name="firstName"
          placeholder="Jean"
          required
          [state]="
            customerForm.controls.firstName.valid ||
            !customerForm.controls.firstName.dirty
              ? 'idle'
              : 'error'
          "
        />
        @if (
          !customerForm.controls.firstName.valid &&
          customerForm.controls.firstName.dirty
        ) {
          <p class="error-message">Le prénom est obligatoire.</p>
        }
      </div>

      <div>
        <label appLabel for="lastName">Nom</label>
        <input
          appInput
          type="text"
          formControlName="lastName"
          id="lastName"
          name="lastName"
          placeholder="DUPONT"
          required
          [state]="
            customerForm.controls.lastName.valid ||
            !customerForm.controls.lastName.dirty
              ? 'idle'
              : 'error'
          "
        />
        @if (
          !customerForm.controls.lastName.valid &&
          customerForm.controls.lastName.dirty
        ) {
          <p class="error-message">Le nom est obligatoire.</p>
        }
      </div>

      <div>
        <label appLabel for="gender">Civilité</label>
        <select
          appSelect
          formControlName="gender"
          id="gender"
          name="gender"
          class="w-full"
        >
          <option value="man">Monsieur</option>
          <option value="woman">Madame</option>
          <option value="other">Autre</option>
        </select>
      </div>
    </div>

    <div class="input-container">
      <label appLabel for="email">Email</label>
      <input
        appInput
        formControlName="email"
        type="email"
        id="email"
        name="email"
        placeholder="jean.dupont@gmail.com"
        required
        [state]="
          customerForm.controls.email.valid ||
          !customerForm.controls.email.dirty
            ? 'idle'
            : 'error'
        "
      />
      @if (
        !customerForm.controls.email.valid && customerForm.controls.email.dirty
      ) {
        <p class="error-message">Veuillez saisir une adresse email valide.</p>
      }
    </div>

    <div class="input-container input-container-row">
      <div>
        <label appLabel for="password">Mot de passe</label>
        <input
          appInput
          formControlName="password"
          type="password"
          id="password"
          name="password"
          required
          [state]="
            customerForm.controls.password.valid ||
            !customerForm.controls.password.dirty
              ? 'idle'
              : 'error'
          "
        />
        @if (
          !customerForm.controls.password.valid &&
          customerForm.controls.password.dirty
        ) {
          <p class="error-message">Le mot de passe est obligatoire.</p>
        }
      </div>

      <div>
        <label appLabel for="passwordConfirmation">
          Confirmer le mot de passe
        </label>
        <input
          appInput
          formControlName="passwordConfirmation"
          type="password"
          id="passwordConfirmation"
          name="passwordConfirmation"
          required
          [state]="
            customerForm.controls.passwordConfirmation.valid ||
            !customerForm.controls.passwordConfirmation.dirty
              ? 'idle'
              : 'error'
          "
        />
        @if (
          !customerForm.controls.passwordConfirmation.valid &&
          customerForm.controls.passwordConfirmation.dirty
        ) {
          <p class="error-message">
            La confirmation du mot de passe est obligatoire.
          </p>
        }
      </div>
    </div>

    <div class="input-container">
      <label appLabel for="address">Adresse</label>
      <input
        appInput
        type="text"
        formControlName="address"
        id="address"
        name="address"
        placeholder="1 rue de la Paix"
        required
        [state]="
          customerForm.controls.address.valid ||
          !customerForm.controls.address.dirty
            ? 'idle'
            : 'error'
        "
      />
      @if (
        !customerForm.controls.address.valid &&
        customerForm.controls.address.dirty
      ) {
        <p class="error-message">L'adresse est obligatoire.</p>
      }
    </div>

    <div class="input-container">
      <label appLabel for="zipCode">Code Postal</label>
      <input
        appInput
        type="text"
        formControlName="zipCode"
        id="zipCode"
        name="zipCode"
        placeholder="75000"
        required
        [state]="
          customerForm.controls.zipCode.valid ||
          !customerForm.controls.zipCode.dirty
            ? 'idle'
            : 'error'
        "
      />
      @if (
        !customerForm.controls.zipCode.valid &&
        customerForm.controls.zipCode.dirty
      ) {
        <p class="error-message">Le code postal est obligatoire.</p>
      }
    </div>

    <div class="input-container">
      <label appLabel for="city">Ville</label>
      <input
        appInput
        type="text"
        formControlName="city"
        id="city"
        name="city"
        placeholder="Paris"
        required
        [state]="
          customerForm.controls.city.valid || !customerForm.controls.city.dirty
            ? 'idle'
            : 'error'
        "
      />
      @if (
        !customerForm.controls.city.valid && customerForm.controls.city.dirty
      ) {
        <p class="error-message">La ville est obligatoire.</p>
      }
    </div>

    <div class="input-container">
      <label appLabel for="phone">Téléphone</label>
      <input
        appInput
        type="tel"
        formControlName="phone"
        id="phone"
        name="phone"
        placeholder="0123456789"
        required
        [state]="
          customerForm.controls.phone.valid ||
          !customerForm.controls.phone.dirty
            ? 'idle'
            : 'error'
        "
      />
      @if (
        !customerForm.controls.phone.valid && customerForm.controls.phone.dirty
      ) {
        <p class="error-message">
          Veuillez saisir un numéro de téléphone valide.
        </p>
      }
    </div>

    <div class="text-center my-8">
      <button
        appButton
        type="submit"
        [disabled]="
          !customerForm.valid ||
          (!isValidPasswordConfirm &&
            customerForm.controls.password.dirty &&
            customerForm.controls.passwordConfirmation.dirty) ||
          status === 'pending'
        "
      >
        Créer un compte
      </button>
    </div>
  </form>

  <div class="text-center flex justify-center items-center my-4">
    @if (
      !isValidPasswordConfirm &&
      customerForm.controls.password.dirty &&
      customerForm.controls.passwordConfirmation.dirty
    ) {
      <p class="error-message text-center !text-base">
        <strong>Erreur:</strong>
        <span> Les mots de passe ne correspondent pas.</span>
      </p>
    }

    @if (status === "pending") {
      <app-spinner [size]="40"></app-spinner>
    }
    @if (status === "error") {
      <p class="error-message !text-base">
        <strong>Erreur:</strong>
        <span> Email déjà prise ou valeurs invalides.</span>
      </p>
    }

    @if (status === "success") {
      <p class="text-center">
        <strong class="text-success">Succès:</strong>
        <span>
          Vous pouvez maintenant
          <a routerLink="/sign-in" class="text-primary"> vous connecter </a>.
        </span>
      </p>
    }
  </div>
</section>
