<li
  class="bg-white border-gray-darker/70 border shadow-lg rounded-lg overflow-hidden flex flex-col h-full animate-pulse"
>
  <div class="w-full h-52 bg-gray-lighter"></div>

  <div class="p-4 flex flex-col grow">
    <div class="h-4 bg-gray-lighter rounded w-3/4 mb-3"></div>

    <div class="h-3 bg-gray-lighter rounded w-full mb-1"></div>
    <div class="h-3 bg-gray-lighter rounded w-5/6 mb-3"></div>
    <div class="grow"></div>

    <div class="h-5 bg-gray-lighter rounded w-full"></div>
  </div>
</li>
