<header
  class="bg-white border-gray-darker sticky top-0 z-50 flex w-full justify-between gap-4 border-b-2 px-6 py-2"
>
  <h1>
    <a routerLink="/" class="flex items-center justify-center">
      TP n°6 : API REST
    </a>
  </h1>

  <a
    routerLink="/cart"
    class="transition duration-300 hover:scale-105 cursor-pointer"
  >
    <div
      class="relative flex size-11 items-center justify-center rounded-md border border-neutral-200 text-black transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-shopping-cart"
      >
        <circle cx="8" cy="21" r="1" />
        <circle cx="19" cy="21" r="1" />
        <path
          d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
        />
      </svg>

      <div
        class="absolute right-0 top-0 -mr-2 -mt-2 size-4 sm:size-5 rounded bg-primary text-center text-xs sm:text-sm font-medium text-white"
      >
        {{ productsCount$ | async }}
      </div>
    </div>
  </a>
</header>
