<h2 class="my-6">
  Produits
  <span class="text-sm text-gray-darker">
    ({{ products.length | number }}
    {{ products.length === 1 ? "résultat" : "résultats" }})
  </span>
</h2>

@if (products.length === 0) {
  <div class="flex flex-col justify-center items-center my-6 space-y-2">
    <svg
      class="size-14 text-neutral-300"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      width="24"
      height="24"
    >
      <circle
        fill="none"
        stroke="currentColor"
        stroke-miterlimit="10"
        cx="9.14"
        cy="9.14"
        r="7.64"
      ></circle>
      <line
        fill="none"
        stroke="currentColor"
        stroke-miterlimit="10"
        x1="22.5"
        y1="22.5"
        x2="14.39"
        y2="14.39"
      ></line>
    </svg>

    <h3>Aucun résultat trouvé !</h3>
    <p>Essayez avec d'autres mots clés.</p>
  </div>
} @else {
  <ul
    class="list-none grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  >
    @for (product of products; track product.id) {
      <app-product-card [product]="product"></app-product-card>
    }
  </ul>
}
